spring:
  application:
    name: check-health
  config:
    import: optional:configserver:http://config-service:8888
  jpa:
    hibernate:
      ddl-auto: create

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: check-health-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
    info:
      enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true

info:
  app:
    name: ${spring.application.name}
    description: CRUD - for goals and event publications
    version: 0.0.1-SNAPSHOT
    encoding: @project.build.sourceEncoding@
    java:
      version: @java.version@

jwt:
  public:
    key: classpath:app.pub
  private:
    key: classpath:app.key